.container {
  display: flex;
  flex-direction: column;
  width: 400px;
  margin: 100px auto 0;
  h1 {
    text-align: center;
  }
  .links {
    display: flex;
    justify-content: space-between;
  }
}